<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <h1>Appointments</h1>
    <h2><%= carMake %> <%= carModel %> <%= carYear %></h2>

    <form action="/appointment/createAppointment" method="POST">
      <input type="date" placeholder="" name="appointmentDate" />
      <input type="time" step="1800" name="appointmentTime"/>
      <select type="string" name="appointmentOptions">
        <option value="Standard" selected>Standard ($30)</option>
        <option value="Premium">Premium ($45)</option>
        <option value="VIP">VIP ($60)</option>
      </select>
      <input type="string" name="carId" value="<%= carId %>">
      <input type="submit" />
    </form>
    <a href="/car">Back</a>
    <a href="/logout">Logout</a>

    <script src="js/main.js"></script>
  </body>
</html>
